# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc
.venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Python packaging/build
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Local data outputs
/data/stego_img/
/data/decrypted_output/

# Cache
.ipynb_checkpoints/
